<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Her story</title>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header>
            <img src=".././static/images/en_book_cover.jpg" alt="enlish version book cover" />
            <img src=".././static/images/vn_book_cover.jpg" alt="vietnamese version book cover" />
            <img src=".././static/images/th_book_cover.jpg" alt="thai version book cover" />
            <img src=".././static/images/kr_book_cover.jpg" alt="korean version book cover" />
            <img src=".././static/images/cn_book_cover.jpg" alt="chinese version book cover" />
            <img src=".././static/images/en_book_cover.jpg" alt="enlish version book cover" />
            <img src=".././static/images/vn_book_cover.jpg" alt="vietnamese version book cover" />
            <img src=".././static/images/th_book_cover.jpg" alt="thai version book cover" />
            <img src=".././static/images/kr_book_cover.jpg" alt="korean version book cover" />
            <img src=".././static/images/cn_book_cover.jpg" alt="chinese version book cover" />
        </header>
        <main>
            <div>
                <h1 class="title">
                    HER STORY
                </h1>
                <p class="subtitle">Based on Kim Ji-young, Born 1982 by Cho Nam-ju</p>
            </div>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <img src=".././static/images/en_book_cover.jpg" alt="enlish version book cover" />
            <img src=".././static/images/vn_book_cover.jpg" alt="vietnamese version book cover" />
            <img src=".././static/images/th_book_cover.jpg" alt="thai version book cover" />
            <img src=".././static/images/kr_book_cover.jpg" alt="korean version book cover" />
            <img src=".././static/images/cn_book_cover.jpg" alt="chinese version book cover" />
            <img src=".././static/images/en_book_cover.jpg" alt="enlish version book cover" />
            <img src=".././static/images/vn_book_cover.jpg" alt="vietnamese version book cover" />
            <img src=".././static/images/th_book_cover.jpg" alt="thai version book cover" />
            <img src=".././static/images/kr_book_cover.jpg" alt="korean version book cover" />
            <img src=".././static/images/cn_book_cover.jpg" alt="chinese version book cover" />
        </footer>
    </body>

</html>
